version: '3.8'

services:
  # 페이지 접속 테스트(10000명)
  test1:
    image: grafana/k6:latest
    environment:
      - MY_LOAD_TEST_KEY=${LOAD_TEST_KEY}
    volumes:
      - ./:/k6-test
    command: >
      run /k6-test/scripts/test1.js
      --summary-export=/k6-test/results/summary_test1.json
