version: '3.8'

services:
  k6:
    image: grafana/k6:latest
    container_name: k6-local-stress-test
    volumes:
      - ./:/k6-test
    command: >
      run /k6-test/scripts/test1.js 
      --summary-export=/k6-project/results/summary_tes1.json
    restart: 'no'
