spring:
  application:
    name: backend
  mvc:
    async:
      request-timeout: 300000
  devtools:
    livereload:
      enabled: false
    restart:
      enabled: false

  # Docker 네트워크 내에서 연결 설정
  datasource:
    url: jdbc:mysql://db:3306/md?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: yi5oyu
    password: ${MYSQL_PASSWORD}

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        generate_statistics: true

  session:
    store-type: none

  data:
    redis:
      host: redis
      port: 6379
      password: ${REDIS_PASSWORD}

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            redirect-uri: ${GITHUB_REDIRECT_URI}
            scope: read:user, user:email, repo

  ai:
    anthropic:
      api-key: dummy-key-not-used
    openai:
      api-key: dummy-key-not-used
    mcp:
      enabled: true
      name: writemd-mcp-client
      version: 1.0.0
      request-timeout: 120s
      type: SYNC
      client:
        toolcallback:
          enabled: true
        sse:
          connections:
            py-mcp-server:
              # 컨테이너 이름으로 연결
              url: http://py-mcp-server:9889

jwt:
  secret: ${JWT_SECRET}
  access-token-validity: 900000      # 15분
  refresh-token-validity: 604800000  # 7일

management:
  endpoints:
    web:
      exposure:
        include: '*'
        exclude: 'info'
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
    metrics:
      enabled: true

  # Prometheus 메트릭 설정
  metrics:
    export:
      prometheus:
        enabled: true
    enable:
      hikari: true # DB 커넥션 풀 모니터링
      hibernate: true # JPA 통계 모니터링
    distribution:
      percentiles-histogram:
        http.server.requests: true
      percentiles:
        http.server.requests: 0.5, 0.95, 0.99
      slo:
        http.server.requests: 100ms, 500ms, 1s
app:
  frontend:
    url: ${FRONTEND_URL}

server:
  port: 8888
  address: 0.0.0.0 # 외부 접근 허용
  tomcat:
    connection-timeout: 300000

logging:
  level:
    org.springframework.ai: INFO
